.containerfav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  align-items: flex-start;
  max-width: 100%;
}

.imageContainerfavoris {
  padding: 5%;
}
.imageContainerfavoris > .imageContainerGal {
  width: 300px;
}
.imageContainerfavoris > .imageContainerGal > img {
  width: 80%;
}
