@import "./src/variable.scss";

.logohome {
  width: 300px;
}

.containerhome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  margin-bottom: 5vh;
}

.afac {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-top: 5vh;
}

.imghome {
  margin-right: 3vw;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  font-family: $font;
  margin: auto;
}

.galerie {
  background-color: $color1;
  padding: 10px 20px 10px 20px;
  font-size: $h2;
  font-family: $font;
  text-decoration: none;
  color: white;
  box-shadow: 8px 5px 5px -2px black;
  margin-bottom: 20px;
}
.slider {
  display: flex;
  flex-direction: row;
  width: calc(150px * 12);
}

.sliderart1 {
  background-size: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: 160px;
  width: 150px;
}
.sliderart2 {
  background-size: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: 160px;
  width: 150px;
}
//slider img
.slide-track {
  display: inline-block;
  animation: move 10s linear infinite;
  white-space: nowrap;
  width: calc(150px * 24);
}

.slide-track > * {
  padding: 2vw;
  display: inline-block;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}
