/* Comment: Importing a variable file */
@import "../../variable.scss";

/* Comment: Styles for the background image */
.background-image {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/Background Image/brushes-4226688_1280.jpg"); /* Comment: Background image path */
}

/* Comment: Styles for opacity overlay */
.opacity {
  display: flex;
  height: inherit;
  background-color: #000000af; /* Comment: Background color with transparency */
}

/* Comment: Styles for a container with background opacity */
.container-background-opacity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: $color-background-div solid 5px; /* Comment: Using a variable for border color, but it's imported from "variable.scss" */
  align-items: center;
  margin: auto;
  width: 90%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.719); /* Comment: Background color with transparency */
}

/* Comment: Styles for a container with description and home opacity */
.container-description-home-opacity {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font; /* Comment: Using a variable for font family, but it's imported from "variable.scss" */
  color: $font-content; /* Comment: Using a variable for font content color, but it's imported from "variable.scss" */
  font-size: $h3; /* Comment: Using a variable for font size, but it's imported from "variable.scss" */
  text-align: center;
  padding: 2vw;
  gap: 50px;
}

/* Comment: Styles for a specific font size class */
.voir {
  font-size: $voir; /* Comment: Using a variable for font size, but it's imported from "variable.scss" */
}

/* Comment: Styles for the description home section */
.description-home {
  margin: 20px;
}

/* Comment: Styles for a hexagon-shaped button */
.hexagon-button {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: 150px;
  height: 150px;
  background-color: $color-background-div; /* Comment: Using a variable for background color, but it's imported from "variable.scss" */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $h4;
  text-decoration: none;
  color: $font-content;
}

/* Comment: Styles for the logo image in the home container */
.logohome {
  width: 300px;
}

/* Comment: Styles for the home container */
.containerhome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  margin-bottom: 5vh;
}

/* Comment: Styles for the "afac" element */
.afac {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin-top: 5vh;
}

/* Comment: Styles for a text container */
.text {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  font-family: $font; /* Comment: Using a variable for font family, but it's imported from "variable.scss" */
}

/* Comment: Styles for the "galerie" element */
.galerie {
  background-color: $color1; /* Comment: Using a variable for background color, but it's imported from "variable.scss" */
  padding: 10px 20px 10px 20px;
  font-size: $h2; /* Comment: Using a variable for font size, but it's imported from "variable.scss" */
  font-family: $font; /* Comment: Using a variable for font family, but it's imported from "variable.scss" */
  text-decoration: none;
  color: white;
  box-shadow: 8px 5px 5px -2px black;
  margin-bottom: 20px;
}

/* Comment: Styles for the home slider section */
.sliderhome {
  display: flex;
  flex-direction: row;
}

/* Comment: Styles for the first slide in the home slider */
.sliderart1 {
  margin-top: 5vh;
  display: flex;
  background-size: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: 160px;
  width: 150px;

  margin-top: 200px; /* Comment: Duplicate "margin-top" property */
}

/* Comment: Styles for the second slide in the home slider */
.sliderart2 {
  margin-top: 5vh;
  display: flex;
  background-size: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: 160px;
  width: 150px;
  margin: 10px; 
}
