@import "./src/variable.scss";

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imageContainerGal {
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  width: 50vh;
  height: 100%;
  flex-direction: column;
  padding: 1%;
  margin: 2%;
  background-color: rgb(240, 240, 240);
  border: rgb(203, 203, 203) solid 1px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}
.imageContainerGal > img {
  width: 80%;


  cursor: pointer;
}

.fullCard {
  display: flex;
  width: 100%;
}
.imageFull {
  width: 50%;
}
.details {
  margin: 2%;
  color: $bg;
  font-family: $font;
}

h1 {
  font-size: $h1;
}

h3 {
  color: $bg;
  letter-spacing: 1px;
}
