@import "./src/variable.scss";

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../../assets/Background Image/marjan-blan-qqz06qPB_F0-unsplash.jpg");
  background-color: rgb(111, 111, 111);
  background-blend-mode: multiply;
  border-radius: 1px;
}
.imageContainerGal {
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  width: 50vh;
  height: 100%;
  flex-direction: column;
  padding: 1%;
  margin: 2%;

  justify-content: center;
  align-items: center;
}
.imageContainerGal > img {
  width: 80%;

  cursor: pointer;
}
.imageContainerGal:hover {
  background-color: rgba(97, 96, 96, 0.551);
}

.fullCard {
  display: flex;
  width: 100%;
}
.imageFull {
  width: 50%;
}
.details {
  margin: 2%;
  color: $bg;
  font-family: $font;
}

h1 {
  font-size: $h1;
}

h3 {
  color: white;
  letter-spacing: 1px;
}

.slideshow-button {
  display: flex;
  flex-wrap: nowrap;
  height: fit-content;
  margin-top: 5px;
  background-color: $color1;
}

// .div_button {
//   top: 0px;
// }
.slideshow-button1 {
  position: absolute;
  top: 100px;
  right: 10px;
  z-index: 10;
  background-color: $color1;
}
