@import "../../variable.scss";

.FlipCardComp {
  margin-bottom: 18vh;
  display: flex;
  width: 70%;
  height: 31%;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 10vh - 9vh);
  background-image: url("../../assets/Background\ Image/marjan-blan-qqz06qPB_F0-unsplash.jpg");
  background-size: cover;
  align-items: center;
}
