// Importation des polices Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap");

// Importation des variables depuis le fichier "variable.scss"
@import "../../variable.scss";

// Réinitialisation des styles pour tous les éléments
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Styles généraux pour le corps de la page
body {
  background-color: #eee;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top, #fff 10%, #257693 90%) no-repeat;
}

// Conteneur principal du formulaire
.container-form {
  max-width: 65vh;
  margin: 60px auto;
  padding: 40px 40px;
  box-shadow: 20px 20px 80px 5px #ffffff;
  border: #257593 solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  align-items: center;

  a {
    text-decoration: none;
    font-weight: bold;
  }

  a:visited {
    color: #257693;
  }
}

// Titre du formulaire
.title-form {
  font-family: $font;
  font-size: 4rem;
  font-weight: bold;
  color: #257693;
}

// Zone pour entrer les informations
.enter-informations {
  font-family: "Poppins", sans-serif;
  color: grey;
}

// Champ de saisie
.input-informations {
  position: relative;
}

.input-informations input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 0px 2px;
  font-family: "Poppins", sans-serif;
  border: 2px solid #257693;
  border-radius: 5px;
  padding-right: 40px;
}

.input-informations .eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.input-informations .eye-icon:hover {
  color: #257693;
}

// Bouton de validation du formulaire
.submit-button {
  border-radius: 2px;
  background-color: #257693;
  color: #fff;
  border: none;
}

.submit-button:hover {
  background-color: #0f2e3a;
}

// Styles spécifiques pour les écrans de petite taille (575px max)
@media (max-width: 575px) {
  .container-form {
    margin: 10px;
  }
}

// Styles spécifiques pour les écrans de très petite taille (424px max)
@media (max-width: 424px) {
  .container-form {
    padding: 30px 10px;
    margin: 5px;
  }
  .option {
    position: relative;
    padding-left: 22px;
  }
  .option label.text-muted {
    font-size: 0.95rem;
  }
  .checkmark {
    position: absolute;
    top: 2px;
  }
  .option .checkmark:after {
    top: 50%;
  }
  #forgot {
    font-size: 0.95rem;
  }
}
