@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap");
@import "../../variable.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top, #fff 20%, #2576939d 80%) no-repeat;
}

.container-form {
  max-width: 100vh;
  margin: 50px auto;
  padding: 30px 40px;
  box-shadow: 20px 20px 80px rgb(206, 206, 206);
  border: $color-background-div solid 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.title-form {
  font-family: $font;
  font-size: 5rem;
  font-weight: bold;
  color: #257693;
  border: limegreen solid 5px;
}

.enter-informations {
  font-family: "Poppins", sans-serif;
  border: rgb(26, 82, 202) solid 5px;
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #400485;
  color: #400485;
}

.input-field:hover {
  color: #7b4ca0;
  border: 1px solid #7b4ca0;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 0px 2px;
  font-family: "Poppins", sans-serif;
}

.btn.btn-block {
  border-radius: 20px;
  background-color: #400485;
  color: #fff;
}

.btn.btn-block:hover {
  background-color: #55268be0;
}

@media (max-width: 575px) {
  .container-form {
    margin: 10px;
  }
}

@media (max-width: 424px) {
  .container-form {
    padding: 30px 10px;
    margin: 5px;
  }
  .option {
    position: relative;
    padding-left: 22px;
  }
  .option label.text-muted {
    font-size: 0.95rem;
  }
  .checkmark {
    position: absolute;
    top: 2px;
  }
  .option .checkmark:after {
    top: 50%;
  }
  #forgot {
    font-size: 0.95rem;
  }
}
