@import "./src/variable.scss";

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 13vh;
  width: 100vw;
  background-color: $color1;
}

ul {
  position: absolute;
  display: flex;
  flex-direction: inherit;
  gap: 3rem;
  height: 13vh;
}

li {
  list-style: none;
  font-size: $navbar;
  align-items: center;
  display: flex;
}

.navlink-inactive {
  color: #ffffff;
  text-decoration: none;
  font-family: $font;
  height: 13vh;
  padding-left: 2vh;
  padding-right: 2vh;
  align-items: center;
  display: flex;
}

.navlink-active {
  color: $color1;
  text-decoration: none;
  font-family: $font;
  height: 13vh;
  padding-left: 2vh;
  padding-right: 2vh;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  clip-path: polygon(0% 0, 100% 0%, 100% 70%, 50% 100%, 0 70%, 0 25%);
}

.logo {
  height: 12vh;
  position: absolute;
  left: 2vw;
  top: 0;
}

.profil {
  position: absolute;
  right: 2vw;
  height: 12vh;
}

.logo-img {
  height: 100%;
}
