$h1: 4rem;
$h2: 4.375rem;
$h3: 1.875rem;
$h4: 0.8rem;
$font-size: 0.75rem;
$TitleFont: "Pill Gothic 600mg", sans-serif;
$color1: #257593;
$color2: #73658a;
$color3: #b982ae;
$BackgroundColor: Black;

h1 {
  font-size: $h1;
  background-color: $color2;
  width: 100%;
  font-family: $TitleFont;
}
.Footer {
  font-size: $h4;
  font-family: $TitleFont;
  color: white;
  background-color: $color1;
  margin-top: 0.3rem;
  padding: -2.5rem;
  position: fixed;
  bottom: -2.2rem;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  justify-content: center;
  gap: -8px;
}

.ImgLog {
  height: 2.3rem;
}
.ImgLog2 {
  height: 4.2rem;
  margin: -13px;
  padding-left: 0.7rem;
}
.ImgObj {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ImgWild {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*   padding-left: ;
 */
  gap: 0;
}
