$h1: 2rem;
$h2: 2rem;
$h3: 1.875rem;
$text: 0.75rem;
$color1: #257593;
$color2: #73658a;
$color3: #b982ae;
$bg: Black;
$font: "Pill Gothic 600mg", sans-serif;
$grad: linear-gradient(#e66465, #9198e5);
body {
  margin: 0;
  padding: 0;
}
