// $h1: 2rem;
// $h2: 2rem;
// $h3: 1.875rem;
// $text: 0.75rem;
// $color1: #257593;
// $color2: #73658a;
// $color3: #b982ae;
// $bg: Black;
// $font: "Pill Gothic 600mg", sans-serif;
// $grad: linear-gradient(#e66465, #9198e5);

$color-background-div: #257593; // Couleur des div
$font-content: #e3e4e2; // Couleur de l'écriture
$h1: 4rem;
$h2: 4.375rem;
$h3: 1.875rem;
$h4: 0.8rem;
$font-size: 0.75rem;
$font: "Pill Gothic 600mg", sans-serif;

body {
  margin: 0;
  padding: 0;
}
