@import "../../variable.scss";

.container-page-account {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container_account {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 90vw;
  box-shadow: 0 -1vh 2vh rgba(0, 0, 0, 0.3);
  border-radius: 3vh 3vh 3vh 3vh;
  background: #b982ae;
  padding-bottom: 50px;
  min-height: 54vh;
}

.onglet {
  padding: 2.5vh 0.7vh;
  margin: 0vh;
  background: $color3;
  display: inline-block;
  color: #fff;
  border-radius: 3vh 3vh 0vh 0vh;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.liste {
  font-size: $text;
  padding: 15px;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  background-color: rgb(125, 192, 207);
  width: fit-content;
  border-radius: 25px;
  border: 2px solid black;
  margin-right: 2vw;
}

.liste.inactive {
  font-weight: normal;
  background-color: $color1;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.liste.active {
  background-color: $color1;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border: #000000 2px solid;
}

.liste.active:hover {
  background-color: #43869e;
}

.container-boutton {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5vh;
  margin-right: 5vw;
}

.logout {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid $color-div;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: $color-background-div;
  transition: 0, 5s ease all;
  z-index: 1;
}

.logout:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  z-index: -1;
}
